*{
    --background: rgb(131,58,180);
    --background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

html{
  width: 100%;
  height: 100%;
  background: var(--background);
  display: flex; 
  flex-direction: column;
  color: white;
}

body{
  width: 100%;
  height: 100%;
  background: var(--background);
  display: flex; 
  flex-direction: column;
}

footer{
  position: fixed;
  top: 75%;
}

table,th,td {
  border-left: 3px solid black;
  border-collapse: collapse;
}

#tr_head{
  border-bottom: 3px solid black;
}

#body_title{
    border: 2px solid black;
    background: #903cdb;
    padding: 10px;
    color: white;
}
